table {
  width: 960px;
  border-collapse: collapse;
}
table, tr, th, td {
  border: solid 1px;
  padding: 10px;
  text-align: center;
}
div {
    border-top: solid 1px;
    border-bottom: solid 1px;
}
td img {
    max-height: 120px;
}
.status_false {
    background-color: #A9A9A9;
}
